
/* xl devices */
@media screen and (min-width: 1200px) {
 
.cards {

display: grid;
 
grid-template-columns: repeat(3, 1fr);
 
grid-auto-rows: auto;
 
grid-gap: 1rem;

margin:5rem 10rem; 


}

.card {
 
  border: 1px solid black;
   
  border-radius: 4px;
   
  padding: 2rem;

  text-align:center;
  
  width:250px; 
   
  }
}

/* s,m and l devices */
@media screen and  (min-width:576px) and (max-width:1200px){
 
  .cards {

  display: grid;
   
  grid-template-columns: repeat(2, 1fr);
   
  grid-auto-rows: auto;
   
  grid-gap: 1rem;

  padding:1rem;
  }
  
  .card {
   
    border: 1px solid black;
     
    border-radius: 4px;
     
    padding: 2rem;

    text-align:center;
     
    }
  }

  /* xs devices  */

  @media screen and (max-width:576px){
 
    .cards {

    display: grid;
     
    grid-template-columns: repeat(1, 1fr);
     
    grid-auto-rows: auto;
     
    grid-gap: 1rem;

    padding:2rem;

    }
    
    .card {
     
      border: 1px solid black;
       
      border-radius: 4px;
       
      padding: 2rem;
      
      text-align:center;
       
      }
    }